@import '../../constant/variables.scss';

.emphasis-font {
	color: $font-white;
}

.emphasis-font-black {
	@extend .emphasis-font;
	background-color: $emphasis-black;
}

.emphasis-font-blue {
	@extend .emphasis-font;
	background-color: $emphasis-blue;
}

.page {
    // margin: 108px 200px 0;
    margin: 0 200px;
	position: relative;
}

.main {
	margin-top: 80px;
	margin-bottom: 30px;
	.title {
		.title_info {
			font-size: 20px;
			font-weight: $font-semibold;
			margin-top: 8px;
		}
	}
	.method {
		margin-top: 34px;
		p {
			font-size: $font-size-m;
			line-height: 50px;
		}
	}
	.run-model-wrapper {
		margin-top: 56px;
		.btn-run-model {
			display: inline-block;
			border: 1px solid #000000;
			border-radius: 4px;
			padding: 16px 34px;
			font-size: 16px;
			font-weight: 500;
			color: #000;
			&:hover{
				border-color: #0000ff;
				transition: .2s;
			}
			.icon-run-model {
				margin-right: 14px;
				display: inline-block;
				vertical-align: middle;
				width: 23px;
				height: 22px;
				background-image: url('../../assets/images/runModel.png');
				background-size: 23px 22px; 
			}
		}
	}
	.method-arc-wrapper {
		margin: 72px 0 67px;
	}
}
.title_cancer-type{
	border-bottom: 1.5px solid;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	margin-top: 8px;
}