@import 'src/constant/variables.scss';

.btn-upload {
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	padding: 0 88px;
	height: 54px;
	line-height: 54px;
	border: 2px solid $font-color;
	border-radius: 4px;
	font-weight: 500;
	&:hover{
		border-color: #0000ff;
		transition: .2s;
	}
	.fileInput {
		position: absolute;
		visibility: hidden;
	}

	.icon-upload {
		display: inline-block;
		margin-right: 14px;
		vertical-align: text-bottom;
		background: url('../../assets/images/upload.png');
		width: 23px;
		height: 22px;
		background-size: 23px 22px;
	}
}

.model-wrapper {
	.main {
		margin: 0 200px;
		padding: 0;
		.process {
			position: relative;
			counter-reset: step;
			.line {
				position: absolute;
				top: 0;
				left: 11px;
				width: 1px;
				height: 100%;
				background-color: $line-color;
				// z-index: -1;
			}
			li {
				.step-info {
					position: relative;
					padding-left: 35px;
					font-size: 14px;
					color: $font-color-gray;
					&::before {
						position: absolute;
						background-color: $bg-color;
						left: 0;
						text-align: center;
						counter-increment: step;
						content: counter(step);
						font-size: 13px;
						width: 18px;
						height: 18px;
						border: 1.5px solid $font-color-gray;
						border-radius: 50%;
					}
				}
				.file-list-wrapper {
						margin: 38px 80px 42px;
						table {
							width: 100%;
							padding: 10px 0 20px;
							thead {
								tr {
									height: 50px;
								}
								font-size: 13px;
								color: $font-color-gray;
							}
							tbody {
								tr {
									height: 52px;
									line-height: 52px;
								}
								.file-name {
									font-weight: 600;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
									max-width: 0;
									padding-right: 20px;
									.icon-vcf {
										vertical-align: middle;
										margin-right: 15px;
										display: inline-block;
										width: 26px;
										height: 20px;
										background: url('../../assets/images/vcf.png') center / 26px 20px;
									}
								}
								.file-size {
									color: $tip-color;
									font-size: 12px;
								}
							}
						}
						.btn-addfiles {
							@extend .btn-upload;
							height: 48px;
							line-height: 48px;
							padding: 0 40px;
							margin-bottom: 38px;
						}
					}
				.upload-wrapper {
					margin-top: 29px;
					background-color: $bg-box;
					border-radius: 4px;
					.upload {
						padding: 70px 0 60px;
						text-align: center;
						.addition {
							width: 360px;
							font-size: 13px;
							margin: auto;
							margin-top: 28px;
							color: $tip-color;
							display: flex;
							justify-content: space-evenly;
						}
					}
				}
				&.run-classifier-wrapper {
					margin-top: 41px;
					.classifier-wrapper {
						margin-top: 29px;
						background-color: $bg-box;
						border-radius: 4px;
						.classifier {
							padding: 42px 80px;
							.choose-model {
								p {
									font-size: 13px;
									color: $font-color-gray;
								}
								.model-menu {
									margin-top: 24px;
									.our-model {
										display: inline-block;
										.btn-model {
											display: inline-block;
											border-radius: 4px;
											padding: 0 80px;
											border: 2px solid $font-color;
											height: 90px;
											line-height: 90px;
											.icon-classifier {
												vertical-align: middle;
												display: inline-block;
												background: url('../../assets/images/ourModel.png');
												width: 60px;
												height: 60px;
												background-size: 60px 60px;
											}
										}
										p {
											margin-top: 13px;
											font-weight: 600;
											text-align: center;
										}
									}
									.tip-compare {
										display: inline-block;
										vertical-align: top;
										margin: 0 50px;
										font-weight: 600;
										color: $font-color-gray;
										line-height: 90px;
									}
									.classifiers {
										display: inline-block;
										vertical-align: top;
										li {
											&:last-child {
												margin-top: 10px;
											}
											a {
												display: inline-block;
												text-align: center;
												border-radius: 4px;
												background-color: $bg-color;
												border: 1px solid $tip-color;
												height: 40px;
												color: $tip-color;
												font-weight: 600;
												line-height: 40px;
												&.classifier-deepgene,
												&.classifier-svm {
													width: 138px;
													margin-right: 18px;
												}
												&.classifier-dnn,
												&.classifier-lr {
													width: 200px;
												}
										}}
									}
								}
							}
							.run-classifier {
								margin-top: 34px;
								p {
									font-size: 13px;
									color: $font-color-gray;
								}
								.btn-classifier {
									display: inline-block;
									border: 2px solid $font-color;
									border-radius: 4px;
									margin-top: 24px;
									padding: 0 54px;
									height: 48px;
									line-height: 48px;
									font-weight: 600;
									&:hover{
										border-color: #0000ff;
										transition: .2s;
									}
									.icon-run-model {
										vertical-align: middle;
										display: inline-block;
										background: url('../../assets/images/runModel.png');
										width: 23px;
										height: 22px;
										background-size: 23px 22px;
										margin-right: 14px;
									}
								}
							}
						}
					}
				}
				&.result {
					margin-top: 49px;
					position: relative;
					.results-wrapper {
						margin-top: 29px;
						background-color: $bg-box;
						border-radius: 4px;
					}
				}
			}
		}
	}
}
.load-data, .run-classifier-wrapper {
	position: relative;
}
.wrapper_download-excel{
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;
	display: flex;
	align-items: center;
}
.download-excel_icon{
	background-image: url('../../assets/images/download.svg');
	background-repeat: no-repeat;
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.download-excel_info{
	font-size: 13px;
	display: inline;
}
.file-type{
	border-bottom: 2px solid;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
}
.file-type_choose-icon{
	background-image: url('../../assets/images/dropDownIcon.svg');
	background-repeat: no-repeat;
	display: inline-block;
	width: 12px;
	height: 8px;
	// margin-left: 15px;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	right: 0;
}
.file-type_menu{
	position: absolute;
	background-color: #DDDDDD;
	width: 300px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	right: 0;
	padding: 10px 0 10px 20px;
	border-top: 2px solid;
	z-index: 2;
}
.file-type_menu-item{
	width: 30%;
	height: 30px;
	line-height: 30px;
	margin-right: 3%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.file-type_menu-selectAll{
	width: 100%;
}
.selectAll-input{
	margin-right: 10px;
	cursor: pointer;
}
.file-progress{
	position: absolute;
	left: 35px;
}
.file-result_rawlabel{
	font-weight: 600;
}
.file-result_score{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.result_score-label{
	font-weight: 600;
	color: #0BC044;
	margin-right: 10px;
}
.result_score-number{
	color: #444444;
}
.loading-icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-image: url('../../assets/images/loading.png');
	background-repeat: no-repeat;
	background-size: contain;
}

@keyframes rotation{
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
	}
	
.Rotation{
	transform: rotate(360deg);
	animation: rotation 1.5s linear infinite;
	-moz-animation: rotation 1.5s linear infinite;
	-webkit-animation: rotation 1.5s linear infinite;
	-o-animation: rotation 1.5s linear infinite;
}