@import '../../constant/variables.scss';

.footer {
	margin: 200px 0 20px 0;
	display: flex;
	justify-content: space-between;
}
.data-src {
    color: $font-color-tips;
    font-size: $font-size-xs;
    line-height: 16px;
}
.copyright {
    color: $font-color-tips;
    font-size: $font-size-xs;
    align-self: flex-end;
}